{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script type="text/javascript" src={% static "main/js/script.js" %}></script>       
</head>

<body class="body_hide">
    <div class="mane">
        <h1 class="card-title"><a href="{% url 'home' %}">Павел Полировка</a></h1>
       
    </div>
    
    <div class="links">
        <a href="{% url 'home' %}">Главная</a> |
        <a href="{% url 'contacts' %}">Контакты</a> |
        <a href="{% url 'price' %}">Цены</a> |
        <a href="{% url 'about' %}">О нас</a>
    </div>
        {% block content %}
       
        {% endblock %}
</body>
</html>
