{% extends  'main/base.html'%}

{% block title %}
Контакты
{% endblock %}

{% block content %}
    <div class="contacts-main">
        <div class=phone>
            <b>Связаться можно по телефону:</b>
             <a class="mobila" href="tel: +79999999999">+7(555)555-55-55</a><br>
             <b>И по email:</b> 
            <a class="mail-me" href="mailto:emoxsux@mail.ru">Написать</a>
            </div>
            <h1>Наши координаты:</h1>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A54fc83b5653111c40659842b4a3f1bc10fe94d8a78810b289b23b16fec3a170e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>            
    </div>
            <h4 class="rights">Все права зарегистрированы "Павел Полировка" 2022 год.</h4>
{% endblock %}

